<div class="section-heading style-2 mb-30">
        <h4>Overview</h4>
        <div class="line"></div>
</div>
<p>Here are some examples for how to tunnel via SSH and pivot within a network. Hopefully this clears up any questions you might have.</p>

<p>If you just want the syntax for SSH tunneling; here you go:</p>

<script src="https://gist.github.com/WTFender/12f763f5dd643265bcd2774d4fd5f0f9.js?file=syntax.sh"></script>

<p>The goal of SSH tunneling is to send your traffic through a proxy that lives between you and your intended destination. Typically you would do this to bypass a network firewall or if you do not otherwise have direct network connectivity to your destination.</p>

<div class="section-heading style-2 mb-30">
        <h4>Scenario / Example</h4>
        <div class="line"></div>
</div>


<p>Client - <span style="color:#3498db">PC-A 192.168.1.10</span> <br />
Proxy  - <span style="color:#00bc8c">PC-B 192.168.2.10</span> <br />
Server - <span style="color:#e74c3c">PC-C 192.168.3.10</span>    </p>

<p>You are on <span style="color:#3498db">PC-A</span>. The goal is to reach a webpage on <span style="color:#e74c3c">PC-C</span>. However, a firewall prevents any network connectivity between <span style="color:#3498db">PC-A</span> and <span style="color:#e74c3c">PC-C</span>. <span style="color:#00bc8c">PC-B</span> has connectivity to both <span style="color:#3498db">PC-A</span> and <span style="color:#e74c3c">PC-C</span>. An immediate question you might think of; why not just view the webpage on <span style="color:#e74c3c">PC-C</span> from <span style="color:#00bc8c">PC-B</span>? You could absolutely do this, however, let’s imagine that <span style="color:#00bc8c">PC-B</span> doesn’t have a GUI. This would be one use-case forcing you to view the traffic from a machine with a web browser installed (<span style="color:#3498db">PC-A</span>).</p>

<script src="https://gist.github.com/WTFender/12f763f5dd643265bcd2774d4fd5f0f9.js?file=example1.sh"></script>

<script src="https://gist.github.com/WTFender/12f763f5dd643265bcd2774d4fd5f0f9.js?file=example2.sh"></script>

<p>From <span style="color:#3498db">PC-A</span>, let’s run the following command to setup the proxy:</p>

<script src="https://gist.github.com/WTFender/12f763f5dd643265bcd2774d4fd5f0f9.js?file=example3.sh"></script>

<p>What just happened?  </p>

<ol>
<li>We SSH’d to <span style="color:#00bc8c">PC-B</span> [ssh … wtfender@<span style="color:#00bc8c">192.168.2.10</span>].  </li>

<li>We setup a local listening port on <span style="color:#3498db">PC-A</span> [-L <span style="color:#3498db">80</span>:]. This means that anything that we direct at our local port of <span style="color:#3498db">80</span>, will be forwarded to the <span style="color:#00bc8c">PC-B</span> proxy.  </li>

<li>We told <span style="color:#00bc8c">PC-B</span> where to send our forwarded port. In this case, our local port of <span style="color:#3498db">80</span> is being sent to the destination of <span style="color:#e74c3c">PC-C</span> on port <span style="color:#e74c3c">80</span> [<span style="color:#e74c3c">192.168.3.10:80</span> ].</li>
</ol>

<p>You should notice that after running this command, you are in an interactive SSH session with <span style="color:#00bc8c">PC-B</span>. In order to test connectivity with curl (shown above), you’ll need to open a new terminal session on <span style="color:#3498db">PC-A</span>, otherwise you will be running the commands from <span style="color:#00bc8c">PC-B</span>.</p>

<script src="https://gist.github.com/WTFender/12f763f5dd643265bcd2774d4fd5f0f9.js?file=example4.sh"></script>

<p>So now we can see that from <span style="color:#3498db">PC-A</span>, connecting to localhost (127.0.0.1) on port 80 (implied by http), we have successfully connected to <span style="color:#e74c3c">PC-C</span>. Make sure you connect to your local listening port and not the proxy or destination server.</p>

<p>Here is another example of setting up an SSH proxy on a different local port and testing:</p>

<script src="https://gist.github.com/WTFender/12f763f5dd643265bcd2774d4fd5f0f9.js?file=example5.sh"></script>

<p>Let’s go one step deeper and specify our local binding address/interface (see all examples at the bottom). This allows you to set your local listening port on any of your machines addresses, not just localhost.</p>

<script src="https://gist.github.com/WTFender/12f763f5dd643265bcd2774d4fd5f0f9.js?file=example6.sh"></script>

<p>With our local listening port now set on a route-able interface/address (<span style="color:#3498db">PC-A</span>), we can introduce <span style="color:#f39c12">PC-D</span> (<span style="color:#f39c12">192.168.4.10</span>). <span style="color:#f39c12">PC-D</span> has no connectivity to <span style="color:#00bc8c">PC-B</span> or <span style="color:#e74c3c">PC-C</span>. However, <span style="color:#f39c12">PC-D</span> can reach <span style="color:#3498db">PC-A</span>‘s private interface. Subsequently, <span style="color:#f39c12">PC-D</span> can also reach the webpage on <span style="color:#e74c3c">PC-C</span>.</p>

<script src="https://gist.github.com/WTFender/12f763f5dd643265bcd2774d4fd5f0f9.js?file=example7.sh"></script>

<p>This same example applies to public interfaces.</p>

<p>Lastly, in case it hasn’t been clear. You can interact with these listening ports from any program. We have been doing all our testing from the command line, but as an addition to the last example, you could open a web browser on <span style="color:#f39c12">PC-D</span> and connect to <span style="color:#3498db">PC-A</span>‘s listening port.  </p>

<p><img src="/static/img/ssh_tunnel2.png" alt="Drag Racing" /></p>

<p>Additional examples of address/interface binding:</p>

<script src="https://gist.github.com/WTFender/12f763f5dd643265bcd2774d4fd5f0f9.js?file=example8.sh"></script>