<p>A small project to identify bot/malicious Steam accounts.</p>
<div class="section-heading style-2 mb-30">
        <h4>The problem</h4>
        <div class="line"></div>
        <ul><p>
            <p>
    </div>
<p>For context, Steam is a gaming marketplace serving 90M users. Users tie DRM games, in-game items, and digital currency to their accounts.</p>
<p>Automated phishing of accounts via other steam profiles hasn't so much been a rising, but persistent issue for Steam. Compromised steam accounts have their valuables sold off and  join the botnet, if not recovered. The goal of this project is to identify accounts that are bot/malicious.</p>
<div class="section-heading style-2 mb-30">
    <h4>Try it out</h4>
    <div class="line"></div>
    <ul><p>
        <p>
<li>Check out <a href="https://github.com/WTFender/steam_scanner">Steam Scanner</a> on GitHub</li>
<li>Run Steam Scanner locally right now:</li>
    </ul>
</div>
<script src="https://gist.github.com/WTFender/2d84db217159a90cd2c0bb3fde8596f9.js"></script>
