<div class="container">

    <div class="col-xs-1">
        <ul class="media-list">
            {% for p in posts %}
            <button class="btn btn-info" style="background-color: transparent; border: none;">
            <a href="/blog/{{p['pid']}}">
                <li class="media post-panel" style="border:15px solid #3498db;">	
                <h2 class="media-heading" style="padding: 10px;">{{p['title']}}</h4>
                        <div class="media-body">
                                <p style="text-align: left; padding: 10px;">
                                <span style="color: #555;">{{p['date']}}</span><br>
                                {{p['desc']}}</p>
                            </div>
            </li></a>
            </button>
            {% endfor %}
        </ul>
    </div>
</div>

<div class="container">
    {% for p in post_list %}

    {% endfor %}


</div>