{% extends "layout.html" %}

{% block content %}
<br>
<div class="container">
    <div class="row justify-content-center">
        {% for p in posts %}
        <!-- Single Post Area -->
        <div class="single-post-area style-2 post-panel" style="padding-left: 10px; padding-right: 10px">

            <a href="{{p}}">
                <div class="row align-items-center">
                    <div class="col-12 col-md-6">
                        <!-- Post Thumbnail -->
                        <div class="post-thumbnail">
                            <a href="{{p}}"><img src="{{posts[p]['img']}}" alt=""></a>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <!-- Post Content -->
                        <div class="post-content mt-0">
                            <a href="{{p}}" class="post-title mb-2">{{posts[p]['name']}}</a>
                            <div class="post-meta d-flex align-items-center mb-2">
                                <a href="{{p}}" class="post-date">{{posts[p]['date']}}</a>
                            </div>
                            <p class="mb-2">{{posts[p]['desc']}}</p>
                            {% for tag in posts[p]['tags'] %}
                            <a href="{{p}}" class="post-cata cata-sm">{{tag}}</a>
                            {% endfor %}
                            {% if posts[p]['badge'] is defined and posts[p]['badge'] %}
                            <a href="{{p}}" class="post-cata cata-success cata-sm">
                                <strong>{{posts[p]['badge']}}</strong></a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}