{% extends "layout.html" %}

{% block scripts %}
{{super()}}
<!-- update header -->
<script>
    $('#wtfender').attr("src", "/static/img/banner/home.svg");
</script>
{% endblock %}

{% block styles %}
{{super()}}
<style>
	.post-panel:hover {
		transition: all .2s ease-in-out;
		background-color: #3498db;
	}
	a, a:hover {
  color: inherit;
  text-decoration: inherit;
}
</style>
{% endblock %}

{% block content %}
<div class="container">

<div class="col-xs-1">
	<ul class="media-list">
			{% for p in posts %}
		<button class="btn btn-info" style="background-color: transparent; border: none;">
		<a href="/blog/{{p['pid']}}">
			<li class="media post-panel" style="border:15px solid #3498db;">	
			<h2 class="media-heading" style="padding: 10px;">{{p['title']}}</h4>
					<div class="media-body">
							<p style="text-align: left; padding: 10px;">
							<span style="color: #555;">{{p['date']}}</span><br>
							{{p['desc']}}</p>
						</div>
		</li></a>
		</button>
		{% endfor %}
	</ul>
</div>
</div>
{% endblock %}
