{% block title %}
    <title>wtfender.com</title>
{% endblock %}

{% block styles %}
    <!-- Favicon -->
    <link rel="icon" href="static/img/core-img/favicon.ico">
    <!-- Stylesheet -->
    <link rel="stylesheet" href="static/css/style.css">
    <!-- Code highlighting -->
    <script src="/static/js/highlight.pack.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
{% endblock %}

{% block scripts %}
<!-- Google Analytics -->
    <script src="https://www.googletagmanager.com/gtag/js?id=UA-61995477-2" async></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-61995477-2');
    </script>
    <!-- jQuery-2.2.4 js -->
    <script src="static/js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="static/js/bootstrap/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="static/js/bootstrap/bootstrap.min.js"></script>
    <!-- All Plugins js -->
    <script src="static/js/plugins/plugins.js"></script>
    <!-- Active js -->
    <script src="static/js/active.js"></script>
{% endblock %}

{% block head %}
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Preloader -->
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="lds-ellipsis">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    <header class="header-area">
    <!-- Navbar Area -->
        <div class="vizew-main-menu" style="padding: -100px;" id="sticker">
            <div class="classy-nav-container breakpoint-off">
                <div class="container" style="text-align:center;">
                        <nav class="navbar navbar-default">
                            <div class="navbar-header" style="padding-bottom: 5px;">
                                <a class="navbar-brand" href="/">
                                     <h1>wtfender</h1>
                                 </a>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
{% endblock %}

{% block content %}
{% endblock %}