{% extends "bootstrap/base.html" %}

{% block title %}
{{super()}}
wtfender.com
{% endblock %}

{% block head %}
{{super()}}
<!-- Google Analytics -->
<script src="https://www.googletagmanager.com/gtag/js?id=UA-61995477-2" async></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-61995477-2');
</script>

<!-- navbar -->
<nav class="navbar navbar-default">
		<div class="navbar-header">
				<a class="navbar-brand" href="/">
					<img alt="" id="wtfender" height="60px" src="/static/img/banner/home.svg">
				</a>
				<a class="navbar-brand" href="/">
					<img alt="" id="block" height="60px" src="/static/img/banner/block.svg">
				</a>
  
			</div>
	<div class="container-fluid">
		<div class="navbar-right">
			<a class="navbar-brand" href="http://linkedin.com/in/michaelmcintyre5/">
				<img height="60px" class="social" src="/static/img/banner/linkedin.svg">
			</a>
			<a class="navbar-brand" href="https://github.com/WTFender/">
				<img height="60px" class="social" src="/static/img/banner/github.svg">
			</a>
		</div>
	</div>
</nav>
{% endblock %}

{% block styles %}
<link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab|Roboto+Mono|IBM+Plex+Sans|IBM+Plex+Sans+Condensed|IBM+Plex+Serif" rel="stylesheet">
<link href="/static/css/theme.css" rel="stylesheet">
<link href="/static/css/theme-overrides.css" rel="stylesheet">
{% endblock %}